@import "normalize.css";
@import "blocks";
@font-face {
	font-family: Inter;
	src: url(/style/font/Inter-VariableFont_slnt\,wght.woff2) format('woff2');
}

body {
  font-family: Inter, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}