.section-learn-to-learn {
	position: relative;
	padding: 0 0 30px 64px;
	background: url(/img/boy.svg) no-repeat, url(/img/square.svg) no-repeat #F2F2F2;
	background-position: bottom right;

		& .section-learn-to-learn__heading {
				margin: 0 0 149px 0;
				padding-top: 254px;
				max-width: 730px;
		}

		& .section-learn-to-learn__paragraph {
				margin: 0;
				max-width: 388px;
		}
}